* {
    box-sizing: border-box;
    background-color: silver;
}

.header {
    display: flex;
    justify-content: center;
    color: teal;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 5px auto;
    /* background-color: maroon; */
    border: 5px solid;
}

#hero {
    display: block;
    margin: 0 auto;
}

.content {
    color: #800080;
    font-size: 20px;
    margin: 50px;
    padding: 25px;
    float: center;
    font-family: Arial, Helvetica, sans-serif;
}

#bio {
    display: inline-block;
    color: green;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    padding: 50px;
    border: thick double;
}

#list {
    display: inline-block;

}

#video {
    display: block;
    margin: 0 auto;
    width: 500px;
    height: 300px;
}

.content p {
    text-align: center;
}